

/*color scheme
#FCF8EE - whitish
#FAB300 - yellow  or #FFC738
#459078 - green
#956F89 - violet
#0B3D2D - dark green
*/

:root {
    /*
  COLORS
  */
    --main-branding-color:#459078;
    --buttons-color:#956F89;
    --fonts-color:#FAB300;
    --header-footer-color: #0B3D2D ;
    --main-background-color:#FCF8EE;
   /* --main-background-color-opaque:#eae7dc9a;
    --main-background-color-opaque-2:#eae7dce0;*/

  /*
  SPACING
  --space-sm: 5px;
  --space-md: 10px;
  --space-lg: 15px;
  --space-xl: 30px;

  --border-rad: 10px;

  
  FONT
 
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 28px;
  --font-weight-bold: 800;*/
}

body{
    background-color: var(--main-background-color);
    color: var(--main-branding-color);
}
.navbar {
    background-color: var(--header-footer-color);
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 0;
    text-align: right;
    width: 100%;
    top: 0;
    left: 0;
    right: 100px;
  }
  .navbar a, .footer a {
    color: var( --main-background-color);
    text-decoration: none; 
    margin-right: 20px; 
}

.navbar a:hover, .footer a:hover {
    color: var( --buttons-color)!important;
  }
  
.navbar a:visited, .footer a:visited {
    color: var( --main-background-color);
  }
  
.navbar a:active {
    color: var( --fonts-color)!important; 
  }
  

.footer{
    background-color: var(--header-footer-color);
    padding: 10px 0;
    text-align: right;
    width: 100%;
}

h1, h2, h3 {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-serif-ireland {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "GRAD" 70;
  }

