@import "~react-image-gallery/styles/css/image-gallery.css";
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Playfair+Display:wght@700&family=Poppins&family=Roboto+Serif:opsz,wdth,GRAD@8..144,100.5,70&display=swap");

:root {
  /*
COLORS
*/
  --main-branding-color: #459078;
  --buttons-color: #956f89;
  --fonts-color: #fab300;
  --header-footer-color: #0b3d2d;
  --main-background-color: #fcf8ee;
  /* --main-background-color-opaque:#eae7dc9a;
  --main-background-color-opaque-2:#eae7dce0;*/

  /*
SPACING
--space-sm: 5px;
--space-md: 10px;
--space-lg: 15px;
--space-xl: 30px;

--border-rad: 10px;

FONT

--font-sm: 14px;
--font-md: 18px;
--font-lg: 28px;
--font-weight-bold: 800;*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background-color);
  color: var(--main-branding-color);
}

/*color scheme
#FCF8EE - whitish
#FAB300 - yellow  or #FFC738
#459078 - green
#956F89 - violet
#0B3D2D - dark green
*/
.navbar {
  background-color: var(--header-footer-color);
  position: sticky;
  padding: 10px 0;
  text-align: right;
  width: 100%;
  top: 0;
  left: 0;
  right: 100px;
}
.navbar a,
.footer a {
  color: var(--main-background-color);
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover,
.footer a:hover {
  color: var(--buttons-color) !important;
}

.navbar a:visited,
.footer a:visited {
  color: var(--main-background-color);
}

.navbar a.active {
  color: var(--fonts-color) !important;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--header-footer-color);
  padding: 10px 0;
  width: 100%;
  height: 100px;
  font-weight: 200;
  font-size: small;
}

h1,
h2,
h3 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-serif-ireland {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "GRAD" 70;
}
/*Home*/
.welcome-sec {
  padding: 25px 50px;
}

.welcome-sec h2 {
  text-align: center;
}

/* Event */

.eventContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
  align-items: center;
}

.eventItem {
  width: 300px;
  height: 500px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content:space-around;
  margin-bottom: 15px;
}

.eventItem:nth-child(n + 1) {
  margin-right: 15px;
}

.eventImg {
  height: 150px;
}

.eventImg > img {
  width: 100%;
}

.eventMain {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0px 8px;
}

.eventDate {
  padding: 10px;
  color: grey;
  font-weight: 300;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--main-branding-color);
  text-align: right;
  
}

.eventTitle {
  color: var(--buttons-color);
  font-weight: 800;
  font-size: large;
  text-align: center;
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.eventDesc {
  height: 150px;
  overflow-x: hidden; 
  text-overflow: ellipsis; 
}

.eventMore, .eventBtn {
  background-color: var(--buttons-color);
  color: var(--main-background-color);
  border: 3px solid var(--buttons-color);
  border-radius: 10px;
  padding: 15px 30px;
  text-decoration: none;
  margin-bottom: 10px;
}

.eventMore {
  width: 100px;
  align-self: center;
  justify-self: center;
  
}
.eventBtn{
  font-weight: 400;
  font-size: 16px;
}

.eventBtnSpace{
  margin-top: 15px;
  display: flex;
  justify-content: center; 
}

.eventLocation {
  background-color: #a9c3bb;
  width: 100%;
  height: 60px;
  overflow-x: hidden; 
  text-overflow: ellipsis; 
  padding: 0px 8px;
  box-sizing: border-box;
}

.eventBtn:hover, .eventMore:hover {
  background-color: var(--main-background-color);
  border-color: var(--buttons-color);
  color: var(--buttons-color);
}
/*Attraction*/
.attrContainer {
  display: flex;
  flex-flow: row wrap;
}

.attrItem {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.attrItem:nth-child(n + 1) {
  margin-right: 15px;
}

.attrImg {
  height: 150px;
}

.attrImg > img {
  width: 100%;
}

.attrMain {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.attrTitle {
  color: blue;
  font-weight: 800;
  font-size: large;
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.attrDesc {
}

.attrLocation {
  background-color: #a9c3bb;
  width: 100%;
  height: 50px;
}


/* Form */
.formWrapper {
  min-height: 500px;
  height: 100vh;
}

.formNotice {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.formContainer {
  width: 500px;
  margin: auto;
}


.formInput {
  width: 100%;
  margin: 15px 0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
}

.formLabel {
  display: block;
}

.formLabel:not(:first-child) {
  padding-top: 2.25rem;
}

.formError {
  position: relative;
  height: 0;
  color: red;
}

.formError > span {
  position: absolute;
  top: -0.5rem;
}

.formBtn {
  border: none;
  background-color: var(--header-footer-color);
  color: white;
  border-radius: 5px;
  padding: 15px 30px;
  position: relative;
  margin-top: 15px;
}

.formBtn:hover{
  background-color: var(--main-branding-color);
  color: var(--main-background-color);
}